* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /* this is the CSS for the header, as I changed the div into an header and removed the class I modified it her as well */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo { /* this styles the syllable seo in the company logo on top of the page in a different colour, to put the emphasis on the word seo */
    color: #d9dcd6;
}

header nav {  /* This is responsible for the style of the nav part where we find the links to the sections of the main article */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {   /* this is the size of the text in the paragraphs of the article and aside contents */
    font-size: 16px;
}

.hero { /* This class is shows the big background image between the header and the main article and aside  */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* The following classes float-left and float-right are relative to the alignment of the content section's images, showing them on the right or left of the text  */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content { /* this class defines the style and width of the main article showing the three content sections accessible with the links in the header, the width takes the 75% of the screen  */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {  /* This styles the colum on the right of the main content article that occupies the 20% of the screen */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* the following benefit- classes are rispettively responsible for the text color and text and icon images alignment of the benefits column on the right of the main content article */
.benefit-lead,
.benefit-brand, 
.benefit-cost { /* I grouped the repetitive classes with the same rules  */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3, 
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* I think I could merge the following .benefit-lead img etc rules in the above group too ipotetically but it may change the h3 and aside*/

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The following three classes style the three content sections of the main article, all accessible through the relative links in the header */
.search-engine-optimization, 
.social-media-marketing, 
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /* this styles the footer, Like I did with the header, I replaced the div and the .footer class with a footer tag */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
